.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  height: 2px;
  margin: 0 auto;
  background: black;
}
